body {
  font-family: Ubuntu, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
}

p,
span,
label {
  color: #545454;
}

/* ******** START - GRID ******** */

.container {
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

/* ******** END - GRID ******** */

/* ******** START - NAVIGATION ******** */

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  font-size: 2.5rem;
  font-weight: bold;
  color: var(--color-black);
  text-transform: capitalize;
}

.navigation-list {
  display: flex;
  justify-content: space-around;
  list-style: none;
  margin: 0;
}

.navigation-item {
  margin: 0 0.2rem;
}

.navigation-link {
  text-transform: uppercase;
  display: block;
  font-size: 0.875rem;
  letter-spacing: 1;
  color: var(--color-black);
  text-decoration: none;
  font-weight: 500;
  padding: 5px 10px;
  border-radius: 0.2rem;
  transition: linear 0.3s all;
}

.navigation-link:hover {
  color: var(--color-primary);
}

/* ******** END - NAVIGATION ******** */
