:root {
  --color-primary: #024873;
  --color-black: #0D0D0D;

  --primary-bg-color: var(--color-primary);
  --second-bg-color: #03588C;

  /* --second-bg-color: #414171; */

  --primary-border-color: #ababab;
  --second-border-color: #676767;
  --second-border-color-05: rgba(103, 103, 103, 0.5);

  --primary-article-title-size: 1.05rem;
}
